@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    background-image: url(images/wiki-back-2.jpg);
    background-size: cover;
}
h3 {
    font-family: "Cinzel";
    border-bottom: 1px solid;
    font-weight: 600;
    text-align: center;
}
p {
    font-family: "Titillium Web";
    text-align: justify;
    font-size: 1.2em;
    padding: 7px;
    color: black;
}

#s-text {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px;
    margin-top: 2px;
    padding: 10px 20px 10px 40px;
    position: fixed;
    z-index: 1;
}

.elem {
    height: 200px;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.9);
    margin-bottom: 15px;
}

.elem::-webkit-scrollbar {
    width: 7px;
}
.elem::-webkit-scrollbar:hover {
    width: 12px;
}
.elem::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
